.block {
	width: 10px;
	height: 10px;
	display: inline-block;
	&.bordered {
		width: 15px;
		height: 15px;
		border: .5px solid black;
	}
}

.J {
	background-color: blue;
}

.L {
	background-color: purple;
}

.S {
	background-color: red;
}

.Z {
	background-color: green;
}

.I {
	background-color: black;
}

.O {
	background-color: yellow;
}

.T {
	background-color: brown;
}
