.block {
	width: 8px;
	height: 8px;
	display: inline-block;
	border: 1px solid black;
}

.J {
	background-color: blue;
}

.L {
	background-color: purple;
}

.S {
	background-color: red;
}

.Z {
	background-color: green;
}

.I {
	background-color: black;
}

.O {
	background-color: yellow;
}

.T {
	background-color: brown;
}
