.block {
	width: 10px;
	height: 10px;
	display: inline-block;
	&.bordered {
		width: 28px;
		height: 28px;
		border: .5px solid black;
	}
}

.J {
	background-color: #99713A;
}

.L {
	background-color: #FF4900;
}

.S {
	background-color: #40FFAA;
}

.Z {
	background-color: #14CC47;
}

.I {
	background-color: #4DAF7C;
}

.O {
	background-color: #95A5A6;
}

.T {
	background-color: brown;
}
