.queue {
	.title {
		text-align: center;
	}
	ul {
		padding: 0;
		margin: 0 0 0 40%;
	}
	li {
		padding: 15px 0;
		margin: 0;
		list-style-type: none;
	}
	hr {
		margin: 0;
		border-top: 1px solid black;
	}
	.nextUp {
		padding: 24px 0;
		margin: 0 0 0 40%;
	}
}
